.footer-socials {
  display: flex;

  &__item {
    @extend .mr1;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-size: 2.6rem;
    transition: all 150ms ease-in;

    &.fb {
      background: url("../static/images/svg/facebook.svg") center no-repeat;
    }

    &.googleplus {
      background: url("../static/images/svg/googleplus.svg") center no-repeat;
      width: 3.3rem;
    }

    &.twitter {
      background: url("../static/images/svg/twitter.svg") center no-repeat;
    }

    &.insta {
      background: url("../static/images/svg/instagram.svg") center no-repeat;
    }

    &.yt{
      background: url("../static/images/svg/youtube.svg") center no-repeat;
    }

    &:hover {
      opacity: .8;
    }

    &--gototop {
      background: url("../static/images/svg/scrollup.svg") center no-repeat;
      width: 6rem;
      height: 6rem;
      position: fixed;
      right: 2rem;
      bottom: 14rem;
      z-index: 10;
    }
  }
}
