.specialcolumn {
  padding: 6rem 0;
  overflow: hidden;
  position: relative;

  &:after {
    @include breakpoint-up(sm) {
      content: "";
      position: absolute;
      width: 42rem;
      height: 42rem;
      background: $circle-light;
      bottom: calc(50% - 21rem);
      right: calc(50% - 21rem);
      border-radius: 50%;
    }
  }

  .container {
    max-width: 165rem;
    margin: 0 auto;
  }

  &__title {
    * {
      @extend .title-center;
    }
  }

  &__item {
    position: relative;
    padding: 11rem 0 0;
    text-align: right;
    z-index: 2;

    @include breakpoint-down(xl) {
      padding: 14rem 0 0;
    }

    @include breakpoint-down(xs) {
      text-align: left;
    }

    .image {
      position: absolute;
      height: auto;
      width: 100%;
      max-width: 38rem;
      top: 0;
      left: -4rem;

      @include breakpoint-down(xs) {
        left: 0;
      }
    }

    &:nth-child(2) {
      text-align: left;

      .image {
        top: 0;
        left: auto;
        right: -4rem;

        @include breakpoint-down(xs) {
          right: 0;
          top: -2rem;
        }
      }
    }

    &:nth-child(3) {
      padding: 0 0 11rem 0;
      text-align: right;

      @include breakpoint-down(xl) {
        padding: 0 0 14rem 0;
      }

      @include breakpoint-down(xs) {
        padding: 11rem 0 0;
        text-align: left;
      }

      .image {
        top: auto;
        bottom: -2rem;
        left: -4rem;

        @include breakpoint-down(xs) {
          left: 0;
          top: -2rem;
          bottom: auto;
        }
      }
    }

    &:nth-child(4) {
      padding: 0 0 11rem 0;
      text-align: left;

      @include breakpoint-down(xl) {
        padding: 0 0 14rem 0;
      }

      @include breakpoint-down(xs) {
        padding: 11rem 0 0;
      }

      .image {
        top: auto;
        bottom: -2rem;
        left: auto;
        right: -4rem;

        @include breakpoint-down(xs) {
          right: 0;
          top: -2rem;
        }
      }
    }
  }

  &__desc {
    background: #F7F5F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7rem 4rem;
    height: 100%;

    @include breakpoint-down(xs) {
      padding: 7rem 2rem;
    }

    strong {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.5rem;
    row-gap: 4.5rem;

    @include breakpoint-down(xs) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  .element-center {
    @include breakpoint-down(sm) {
      margin: 5rem;
    }
  }
}