<section class="specialcolumn">
    <div class="container">
        <div class="specialcolumn__title">
            {{ section.title }}
        </div>
        <div class="specialcolumn__grid">
            {% for item in section.column %}
                <div class="specialcolumn__item">
                    <div class="specialcolumn__desc">
                        {{ item.text }}
                    </div>
                    <img class="image" src="{{ item.img.url }}" alt="{{ item.img.title }}">
                </div>
            {% endfor %}
        </div>
        {% if section.link %}
            <div class="element-center">
                <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>