<div class="pagination">
    <div class="pagination__content">
        <a href="{% if posts.pagination.prev %}{{ posts.pagination.prev.link }}{% else %}#!{% endif %}" class="prev">
            <img src="{{ fn('get_template_directory_uri') }}/static/icons/slider-ar-l.svg" uk-svg>
        </a>
        <div class="pagination__list">
            {% set last = posts.pagination.pages|last %}

            {% for page in posts.pagination.pages %}
                {% if page.current %}
                    <span class="{{ page.class }}">{{ page.title }}</span>
                {% endif %}
            {% endfor %}
            {{ __('of', 'onex') }}
            {% for page in posts.pagination.pages %}
                {% if page|last %}
                    <a href="{{ last.link }}" class="{{ last.class }} last">{{ last.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <a href="{% if posts.pagination.next %}{{ posts.pagination.next.link }}{% else %}#!{% endif %}" class="next">
            <img src="{{ fn('get_template_directory_uri') }}/static/icons/slider-ar-r.svg" uk-svg>
        </a>
    </div>

</div>