{% extends 'base.twig' %}

{% block body %}
    <section class="hero-main"
             style="background-image: url({{ post.thumbnail.src }})">
        <div class="hero-main__container">
            <div class="hero-main__row">
                <div class="hero-main__inner">
                    <div class="hero-main__title">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="blog-post">
        <div class="o-container">
            <div class="blog-post__content">
                {{ post.content }}
            </div>
        </div>
    </section>




{% endblock %}

