.hero {
  overflow: hidden;
  width: 100%;
  background-color: $gray-color;
}

.hero-main, .hero__item {
  min-height: 48rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: $gray-color;
  background-size: cover;

  @include breakpoint-down("xxl") {
    min-height: 47rem;
    background-position: center;
    background-size: cover;
  }

  @include breakpoint-down("xl") {
    background-size: cover;
  }

  @include breakpoint-down("sm") {
    min-height: 40rem;
  }

  &.homepage {
    height: 75rem;
    background-size: contain;

    @include breakpoint-down(xl) {
      height: 54rem;
    }

    @include breakpoint-down(lg) {
      height: 45rem;
      background-size: cover;
    }

    @include breakpoint-down(md) {
      height: 50rem;
      background-size: cover;
      display: flex !important;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .hero-main {
      &__inner {
        max-width: 70rem;
        width: 100%;

        @include breakpoint-down(lg) {
          max-width: 55rem;
        }

        @include breakpoint-down(md) {
          max-width: 100%;
        }
      }
    }
  }

  &__container {
    @extend .o-container;
    position: relative;
    z-index: 7;
    height: 100%;

    @include breakpoint-down(md) {
      height: auto;
    }
  }

  &__row {
    @extend .o-grid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    @include breakpoint-down(md) {
      height: auto;
    }
  }

  &__inner {
    width: 100%;
  }

  &__title {
    @extend .mb3;

    h1, h2, h3 {
      color: $white;
      @extend .h1;
      font-style: italic;

      @include breakpoint-down(lg) {
       font-size: 4rem;
        line-height: 1.3;
      }

      @include breakpoint-down(md) {
        font-size: 2.8rem;
        line-height: 1.2;
        text-align: center;
      }
    }

    p {
      font-size: 2.1rem;
      color: $white;
      font-weight: $font-600;
      font-style: italic;
      margin-top: 3rem;

      @include breakpoint-down(md) {
        text-align: center;
      }
    }
  }

  &__text {
    * {
      color: $white;
    }
  }

  .btn--arrow {
    color: $white;
    display: flex;
    font-style: italic;
    font-weight: $font-600;
    font-size: 2.4rem;
    align-items: center;

    &:after {
      content: "";
      display: inline-flex;
      width: 2.9rem;
      height: 2.9rem;
      background: url("../static/images/svg/link-arrow.svg") center center no-repeat transparent;
      background-size: cover;
      margin-left: 1.4rem;
    }

    @include breakpoint-down(md) {
      justify-content: center;
    }
  }

  &__sec-img {
    position: absolute;
    top: 8rem;
    left: 5%;

    @include breakpoint-down(xl) {
      max-width: 38%;
    }

    @include breakpoint-down(md) {
      position: static;
      max-width: 44%;
    }

    @include breakpoint-down(xs) {
      max-width: 70%;
    }
  }
}

.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  width: 2.9rem;
  height: 2.9rem;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-size: 2.9rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 47%;
  z-index: 20;

  &:hover {
    transform: scale(1.075);
  }

  &:focus {
    outline: 0;
  }

  @include breakpoint-down("lg") {
    display: none !important;
  }


  &.slick-prev {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    left: -6rem;
    transform: rotate(180deg);

    @include breakpoint-down("sm") {
      left: 10px;
    }
  }

  &.slick-next {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    right: -6rem;
    transform: rotate(0deg);

    @include breakpoint-down("sm") {
      right: 10px;
    }
  }
}

.slick-dots {
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  bottom: 13rem;
  right: 6rem;

  @include breakpoint-down("sm") {
    bottom: 4rem;
    right: 4rem;
  }

  li {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.1rem;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      button {
        background: $second-color;
      }
    }

    button {
      text-indent: -99999rem;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background: $main-color;
      border: 1px solid $second-color;
    }
  }
}