.portfolio {
  background: linear-gradient(0deg, #F7F5F6, #F7F5F6), #E5E5E5;
  padding: 8rem 0;

  a.modula_menu__link {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

html body .modula>.filters .modula_menu__list li.modula_menu__item {
  margin: 0 2rem 0 0;
}
html body .modula>.filters.menu--trinculo .modula_menu__item--current .modula_menu__link {
  color: $second-color;

  &::before {
    display: none;
  }
}