.services-image {
  background-size: cover;
  padding: 4rem 0;

  &__title {
    * {
      @extend .title-left;
      color: $white;
    }
  }

  .container {
    max-width: 98%;
  }

  &__wrapper, &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;

    @include breakpoint-down(lg) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 3rem;
    }
  }

  &__list {
    column-gap: 0;
    row-gap: 3rem;

    @include breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
      row-gap: 3rem;
    }

    @include breakpoint-down(xs) {
      column-gap: 0;
      row-gap: 0;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    img:not(.icon) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .icon {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;

      @include breakpoint-down(xs) {
        width: 50%;
        height: 50%;
      }
    }

    &:nth-child(odd) {
      z-index: 2;

      .icon {
        right: -4.4rem;
        @include breakpoint-down(xs) {
          right: 1.5rem;
          width: 50%;
          height: 50%;
        }
      }
    }
  }

  ul {
    @extend .custom-list;

    * {
      color: $white;
    }
  }
}