<section class="services-image" style="background-image: url('{{ section.bg.url }}')">
    <div class="container">
        <div class="services-image__wrapper">
            <div class="col">
                <div class="services-image__list">
                    {% for item in section.images %}
                        <div class="services-image__item">
                            <img src="{{ item.bg.url }}" alt="{{ item.bg.title }}">
                            <img class="icon" src="{{ item.icon_img.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col text-col">
                <div class="services-image__title">
                    {{ section.title }}
                </div>
                <div class="services-image__text">
                    {{ section.text }}
                </div>
                {% if section.link %}
                    <div class="mt5">
                        <a href="{{ section.link.url }}" class="btn btn-main">
                            {{ section.link.title }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>