.about {
  background: $gray-color;
  padding: 8rem 0;
  position: relative;
  z-index: 1;

  &:after {
    @extend .circle;

  }

  &__title {
    * {
      @extend .title-center;
    }
  }

  &__text {
    margin-bottom: 4.5rem;

    * {
      text-align: center;
      font-size: 2.8rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;

    @include breakpoint-down(xs) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;

      * {
        text-align: center;
      }
    }
  }
}

body.naprawa-konstrukcji {
  .about {
    background: $white;
    padding: 4rem 0 0;
  }
}