<section class="about">
    <div class="container">
        <div class="about__title">
            {{ section.title }}
        </div>
        <div class="about__text">
            {{ section.text }}
        </div>
        <div class="about__wrapper">
            {% for col in section.cols %}
                <div class="about__col">
                    {{ col.element }}
                </div>
            {% endfor %}
        </div>
        {% if section.link %}
            <div class="element-center mt4">
                <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>