<a href="/" title="home" rel="dofollow">
  {% if site.logo.src != null %}
    <img class="" src="{{site.logo.src}}" alt="{{site.name}}" width="324" height="65">
  {% else %}
    <span class="">{{site.name}}</span>
  {% endif %}
</a>
