.nav-sub {
  $self: &;
  @extend .pt2;
  @extend .pr4;
  @extend .pl4;
  @extend .pb2;
  position: absolute;
  opacity: 0;
  display: none;
  flex-direction: column;
  top: 100%;
  left: 0;
  z-index: 10;

  li:hover > & {
    display: flex;
    background: rgba(39, 50, 131, 0.8);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;

    @include breakpoint-down(md) {
      position: static;
    }

    a {
      color: $white;

      &:hover {
        color: $second-color;
      }
    }
  }

  &::before {
    @include pseudo;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: -6px;
    left: 24px;
  }

  #{ $self } & {
    all: unset;
    padding-left: 8px!important;
    margin-top: 2px;
    margin-bottom: 16px!important;
    display: flex;
    flex-direction: column;

    #{ $self } & {
      margin-bottom: 0!important;
    }

    &::before {
      all: unset;
    }
  }


  &__item {
    $self: &;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: .8rem;
    border-bottom: 1px solid $white;

    @include breakpoint-down("lg") {
      font-size: 1.4rem;
    }

    &:last-child {
      border-bottom: 0;
    }

    #{ $self } & {
      all: unset;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    a {
      display: block;
      width: 27rem;

      @include breakpoint-down("md") {
        width: auto;
      }

      &:hover {
        color: $second-color;
      }
    }
  }

}
