.bg-text {
  padding: 6rem 0;

  @include breakpoint-down(md) {
    background-size: cover;
  }

  * {
    color: $white;
    text-align: center;
  }

  &__title {
    * {
      @extend .title-center;
    }
  }

  &__text {
    p {
      margin-bottom: 2.8rem;

      &:first-child {
        font-size: 2.8rem;
        margin-bottom: 2.4rem;
      }
    }
  }

  &.gray-text {
    background: linear-gradient(0deg, #F7F5F6, #F7F5F6), #E5E5E5;

    * {
      color: $black;
    }
  }
}