<section class="bg-text {% if section.bg_color %}gray-text{% endif %}"
         style="background-image: url('{{ section.bg.url }}')"
         {% if section.bg_color %}style="background: {{ section.bg_color }}"{% endif %}>
    <div class="container">
        <div class="bg-text__title">
            {{ section.title }}
        </div>
        <div class="bg-text__text">
            {{ section.text }}
        </div>
        {% if section.link %}
            <div class="element-center">
                <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
        {% if section.icon %}
            <div class="element-center">
                <img src="{{ section.icon.url }}" alt="{{ section.icon.title }}">
            </div>
        {% endif %}
    </div>
</section>