.contact {
  padding: 4rem 0;

  &__title {
    * {
      @extend .title-center;
      color: $white;
    }
  }

  &__wrapper {
    background: $white;
    box-shadow: 4px 4px 50px rgba(196, 196, 196, 0.5);
    border-radius: 2.2rem;
    padding: 10rem 4rem 6rem;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 1fr 66rem;
    margin-top: 2rem;

    @include breakpoint-down(lg) {
      grid-template-columns: 1fr 50rem;
    }

    @include breakpoint-down(md) {
      grid-template-columns: 1fr;
    }

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 2rem;
      padding: 2rem 1.4rem;
    }

    .footer__contact--list {
      margin-top: 2rem;
    }

    .top__icon {
      margin-bottom: 1rem;
      line-height: 1;
      font-size: 2rem;
      text-transform: none;

      &:before {
        width: 2.1rem;
        height: 2.4rem;
        background-size: 2rem;
        margin: 0 1rem 0 0;
      }

      a {
        line-height: 1.2;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  &__text-title {
    @extend .mb4;

    * {
      color: $main-color;
      font-size: 2.8rem;
      font-weight: $font-700;
    }
  }

  &__hours {
    h2 {
      @extend .h3;
      @extend .mt4;
      color: $main-color;
      font-size: 2.1rem;
      font-weight: $font-700;
    }
  }
}