<section class="contact" style="background-image: url('{{ section.bg.url }}')">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__col">
                <div class="footer__contact--list">
                    {% if options.description %}
                        <div class="contact__text-title">
                            {{ options.description }}
                        </div>
                    {% endif %}
                    {% if options.address %}
                        <div class="top__address top__icon">{{ options.address }}</div>
                    {% endif %}
                    {% if options.phone %}
                        <div class="top__phone top__icon">
                            <a href="tel:+48{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                        </div>
                    {% endif %}
                    {% if options.email %}
                        <div class="top__email top__icon">
                            <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                        </div>
                    {% endif %}
                    {% if options.hours_open %}
                        <div class="contact__hours">
                            <h2>Godziny otwarcia:</h2>
                            {{ options.hours_open }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="contact__col">
                {{ section.form }}
            </div>
        </div>
    </div>
</section>