.minigallery {
  padding: 8rem 0;

  .container {
    display: grid;
    max-width: 95%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;

    @include breakpoint-down("lg") {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    &:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
    &:nth-child(2) {
      grid-column: 3 / 5;
      grid-row: 2 / 5;
    }
    &:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 4 / 7;
    }
    &:nth-child(4) {
      grid-column: 3 / 5;
      grid-row: 5 / 8;
    }
  }

  &__title {
    * {
      @extend .title-left;
    }
  }

  &__big {
    margin-bottom: 3rem;

    p {
      font-size: 2.8rem;
    }
  }
}