<section class="minigallery">
    <div class="container">
        <div class="col">
            <div class="minigallery__items">
                {% for item in section.mini %}
                    <div class="minigallery__item">
                        <img src="{{ item.img.url }}" alt="{{ item.img.title }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="minigallery__content">
                <div class="minigallery__title">
                    {{ section.title }}
                </div>
                <div class="minigallery__big">
                    {{ section.text }}
                </div>
                {{ section.text_small }}
            </div>
        </div>
    </div>
</section>