.btn {
  font-size: 2.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.7rem 5.4rem;
  border-radius: 5.3rem;
  line-height: 1;
  transition: all 300ms ease-in;

  &-main {
    background-color: $main-color;
    color: $white;

    &:hover {
      background: $second-color;
      color: $white;
    }

  }
}
