$breakpoints: (
        xs: 576px,
        sm: 769px,
        md: 992px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1560px,
        fhd: 1920px,
);

$container-sizes: (
        xs: 100%,
        sm: 576px,
        md: 95%,
        lg: 90%,
        xl: 1215px,
        xxl: 1215px,
        fhd: 1215px,
);

//margin-padding
$spaces: (
        1: 0.4rem,
        2: 0.8rem,
        3: 1.6rem,
        4: 2.4rem,
        5: 3.2rem,
        6: 4.8rem,
        7: 6.4rem,
        8: 8rem,
        9: 12rem,
        10: 16rem,
);


// font
$primary-font-family: 'Jost', sans-serif;
$font-400: 400;
$font-600: 600;
$font-700: 700;

//colors
$main-color: #273283;

$second-color: #EF2F72;
$light-color: #BF9B85;
$mint-color: #36A1A5;
$darkmint-color: #36A1A5;
$light-bg: #FEF5ED;
$gray-color: #F7F5F6;
$circle-light: #E5E5E5;

$black: #434242;
$white: #fff;
$dark: #000000;
$footer-bg: $dark;

$gray-gradient: linear-gradient(0deg, #F7F5F6, #F7F5F6), #E5E5E5;
$blue-gradient: linear-gradient(90deg, rgba(0, 217, 245, 0.72) 0%, rgba(39, 50, 131, 0.8) 75%);

