.mixcolumn {
  position: relative;
  padding: 0 0 6rem 0;
  background: #e5e5e5;
  overflow: hidden;

  &:after {
    @extend .circle;
    background: #cac8c8;
    width: 43rem;
    height: 43rem;
    bottom: calc(31rem - 43rem);
  }

  &__bg {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;

    @include breakpoint-down(xxl) {
      height: 60rem;
    }

    @include breakpoint-down(lg) {
      top: 2rem;
    }

    @include breakpoint-down(md) {
      display: none;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    z-index: 2;
    position: relative;

    @include breakpoint-down(xs) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 4rem;
    }

    .col {
      &:last-child {
        @include breakpoint-up(lg) {
          margin-top: -12rem;
        }
      }
    }
  }

  &__img {
    position: relative;

    .icon {
      top: calc(50% - 4.4rem);
      left: calc(50% - 4.4rem);
      position: absolute;
    }
  }

  &__title {
    * {
      @extend .title-left;
    }
  }

  &__content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;

    * {
      color: $white;

      @include breakpoint-down(md) {
        color: $black;
      }
    }
    .btn {
      color: $white !important;
    }
  }

  &__text {
    ul {
      @extend .custom-list;
    }
  }
}