<section class="mixcolumn">
    <img class="mixcolumn__bg" src="{{ section.bg.url }}" alt="">
    <div class="container">
        <div class="wrapper">
            <div class="col">
                <div class="mixcolumn__img">
                    <img src="{{ section.img1.url }}" alt="{{ section.img1.title }}">
                    <img class="icon" src="{{ section.icon1.url }}" alt="{{ section.icon1.title }}">
                </div>
            </div>
            <div class="col">
                <div class="mixcolumn__content-center">
                    <div class="mixcolumn__title">
                        {{ section.title }}
                    </div>
                    {{ section.text }}
                    {% if section.button %}
                        <div class="mt4">
                            <a href="{{ section.button.url }}" class="btn btn-main"
                               {% if section.nofollow %}rel="nofollow"{% endif %}>
                                {{ section.button.title }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="mixcolumn__img">
                    <img src="{{ section.img2.url }}" alt="{{ section.img2.title }}">
                    <img class="icon" src="{{ section.icon2.url }}" alt="{{ section.icon2.title }}">
                </div>
            </div>
            <div class="col">
                <div class="mixcolumn__title">
                    {{ section.title2 }}
                </div>
                <div class="mixcolumn__text">
                    {{ section.text2 }}
                </div>
            </div>
        </div>
    </div>
</section>

