<div class="top">
    <div class="container">
        <div class="o-row">
            <div class="top__wrapper">
                {% if options.email %}
                    <div class="top__element">
                        <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                    </div>
                    <div class="top__element spacer">
                        |
                    </div>
                {% endif %}
                {% if options.phone %}
                    <div class="top__element">
                        <a href="tel:{{ options.phone|replace({' ':''}) }}">Tel. {{ options.phone }}</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>