.smallportfolio {
  background: $gray-color;
  padding: 6rem 0;

  &__title {
    * {
      @extend .title-center;
    }
  }

  .btn {
    margin-top: 7rem;
  }

  .slider-mini {
    &__img {
      height: 48rem;
      width: 100%;

      @include breakpoint-down(md) {
        height: 28rem;
      }

      @include breakpoint-down(sm) {
        height: 18rem;

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
