<section class="smallportfolio">
    <div class="container">
        <div class="smallportfolio__title">
            {{ section.title }}
        </div>
        <div class="js-slider-mini slider-mini">
            {% for item in section.list %}
                <div class="slider-mini__img">
                    <img src="{{ item.image.url }}" alt="{{ item.image.title }}">
                </div>
            {% endfor %}
        </div>
        {% if section.link %}
            <div class="element-center">
                <a href="{{ section.link.url }}" class="btn btn-main"
                   {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>