<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="text">
                {{ options.description }}
            </div>
            {% include 'footer-socials/footer-socials.twig' %}
        </div>
    </div>
    <div class="footer__container">

        <div class="footer__info">
            <div class="footer__contact--list">
                {% if options.address %}
                    <div class="top__address top__icon">{{ options.address }}</div>
                {% endif %}
                {% if options.phone %}
                    <div class="top__phone top__icon">
                        <a href="{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                    </div>
                {% endif %}
                {% if options.email %}
                    <div class="top__email top__icon">
                        <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                    </div>
                {% endif %}
                {% if options.nip_regon %}
                    <div class="mt4">
                        {{ options.nip_regon }}
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="footer__menu">
            <div class="footer__label">{{ __('Mapa strony', 'plandeki') }}</div>
            {% include 'nav-footer/nav-footer.twig' with { 'menu': nav_footer } %}
        </div>

        <div class="footer__contact">
            <div class="footer__label">{{ __('Oferta', 'plandeki') }}</div>
            {% include 'nav-footer/nav-footer.twig' with { 'menu': nav_footer_offer } %}
        </div>

    </div>

</footer>
<div class="copyright">
    <div class="copyright__wrapper">
        <a title="Design by Haiko Studio. All rights reserved." href="https://haiku.com.pl/" target="_blank"
           rel="nofollow">
            {{ __('Design by Haiko Studio. All rights reserved.', 'plandeki') }}
        </a>
    </div>
</div>
