.footer {
  padding: 6rem 0 2rem;
  color: #4B4B4B;
  background: $dark;
  font-size: 1.6rem;

  @include breakpoint-down("sm") {
    padding: 2rem 0;
  }

  p, a {
    color: #C4C4C4;
    font-size: 1.6rem;
  }

  .top__icon {
    display: flex;
    align-items: center;
    line-height: 1.6;
  }

  &__container {
    @extend .o-container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  &__top {
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
    margin-bottom: 3rem;

    .text {
      * {
        font-size: 2.4rem;
        font-weight: $font-700;
        color: $white;
      }
    }
  }

  &__label {
    @extend .mb3;
    display: flex;
    color: $second-color;
    font-size: 1.8rem;
    font-weight: $font-700;
    line-height: 1;
  }

  .top {
    &__icon {
      margin-bottom: 1rem;
      margin-right: 0;
      text-transform: none;

      &:before {
        margin: .5rem 1.6rem 0 0;
      }
    }
    &__phone {
      &:before {
        background-image: url("../static/images/svg/phone2.svg");
      }
    }

    &__email {
      &:before {
        background-image: url("../static/images/svg/email2.svg");
      }
    }

    &__address {
      &:before {
        background-image: url("../static/images/svg/place2.svg");
      }
    }
  }
}

.copyright {
  background: $dark;

  &__wrapper {
    @extend .container;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 0;
    border-top: 1px solid #434242;


    * {
      color: #C4C4C4;
      font-size: 1.4rem;
    }

    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}