.specialcolumnbig {
  background: $white;
  padding: 6rem 0;
  position: relative;
  overflow: hidden;

  &:after, &:before {
    content: "";
    background: url("../static/images/klos.png") center no-repeat;
    background-size: contain;
    max-width: 93rem;
    width: 100%;
    max-height: 93rem;
    height: 100%;
    position: absolute;
  }

  &:after {
    bottom: -15rem;
    right: -5rem;
    z-index: 2;

    @include breakpoint-down(xl) {
      width: 60rem;
      height: 60rem;
    }

    @include breakpoint-down(lg) {
      bottom: -5rem;
      right: -12rem;
      z-index: 2;
      width: 50rem;
      height: 50rem;
    }

    @include breakpoint-down(xs) {
      display: none;
    }
  }

  &:before {
    top: 17rem;
    left: -36rem;
    z-index: 0;
    background-size: 50%;
  }

  .container {
    max-width: 155rem;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    margin-bottom: 10rem;

    @include breakpoint-down(md) {
      flex-direction: column;
    }

    &.reverse {
      z-index: 0;

      .specialcolumnbig {
        &__content {
          margin: 21rem -6rem 0 0;

          @include breakpoint-down(md) {
            margin: 0;
          }
        }

        &__img {
          order: 2;

          @include breakpoint-down(md) {
            order: 0;
          }
        }
      }
    }
  }

  &__content {
    background: $gray-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 74.5rem;
    width: 100%;
    z-index: 2;
    padding: 4rem;
    margin: -4rem 0 0 -4rem;
    height: 50rem;

    @include breakpoint-down(lg) {
      height: auto;
    }

    @include breakpoint-down(md) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__img {
    z-index: 1;
    max-width: 84rem;
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;

    @include breakpoint-down(xs) {
     flex-direction: column;
    }

    .icon {
      width: 16rem;
      height: 16rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $main-color;
      border-radius: 50%;
      margin-right: 2rem;
    }

    &-center {
      max-width: calc(100% - 18rem);

      @include breakpoint-down(xs) {
        max-width: 100%;
        margin-top: 2rem;
      }

      h2 {
        font-style: italic;
        line-height: 0.8;

        @include breakpoint-down(xs) {
          font-size: 3.4rem;
          line-height: 0.6;
        }
      }

      .dot {
        color: $second-color;
        font-size: 7rem;
      }
    }
  }

  &__text {
    margin-top: 3rem;
  }
}