<section class="specialcolumnbig">
    <div class="container">
        {% set count = 1 %}
        {% for item in section.column %}
            <div class="specialcolumnbig__item {% if count == 1 %}reverse{% endif %}">
                <div class="specialcolumnbig__img">
                    <img src="{{ item.img.url }}" alt="{{ item.img.title }}">
                </div>
                <div class="specialcolumnbig__content">
                    <div class="specialcolumnbig__title">
                        <div class="icon">
                            <img src="{{ item.icon.url }}" alt="{{ item.icon.title }}">
                        </div>
                        <div class="specialcolumnbig__title-center">
                            <h2>{{ item.title }} <span class="dot">.</span></h2>
                        </div>
                    </div>
                    <div class="specialcolumnbig__text">
                        {{ item.text }}
                    </div>
                </div>
            </div>
            {% set count = count + 1 %}
        {% endfor %}
        {% if section.link %}
            <div class="element-center">
                <a href="{{ section.link.url }}" class="btn btn-main">
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>