.history {
  padding: 6rem 0 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 53rem;
  width: 100%;

  @include breakpoint-down(xs) {
    background-size: cover;
    height: auto;
    padding-bottom: 2rem;
  }

  &__title {
    * {
      @extend .title-center;
      color: $white;
    }
  }

  &__content {
    border-radius: 2.2rem;
    background: $gray-color;
    box-shadow: 4px 4px 50px rgba(196, 196, 196, 0.5);
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    left: auto;
    right: auto;

    @include breakpoint-down(lg) {
      position: static;
      padding: 3rem 4rem;
    }

    @include breakpoint-down(xs) {
      padding: 3rem 1.2rem;
    }

    p {
      color: $main-color;
      max-width: 93rem;
    }
  }

  .btn {
    margin-top: 7rem;
  }
}