<section class="history" style="background-image: url('{{ section.bg.url }}')">
    <div class="container">
        <div class="history__title">
            {{ section.title }}
        </div>
        <div class="history__content">
            {{ section.text }}
            {% if section.link %}
                <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            {% endif %}
        </div>
    </div>
</section>