
<ul class="nav-main {{class}}">
  {% set items = menu.items %}

  {% for item in items %}

    <li class="nav-main__item {% if item.children %}nav-main__item--has-children uk-animation-toggle {% endif %} {% if item.slug == post.post_name %}current{% endif %}" tabindex="0">

      {% if item.link %}

        <a href="{{ item.link }}" class="nav-main__link {{item.classes | join(' ')}}" {% if item.xfn %}rel="{{ item.xfn }}"{% endif %}>
      {% else %}
        <a class="nav-main__link {{item.classes | join(' ')}}" {% if item.xfn %}rel="{{ item.xfn }}"{% endif %}>
      {% endif %}

        <span>
          {{item.title}}
        </span>
      </a>
      {% if item.children %}
          <button class="arrow-bottom"></button>
        {% include "nav-sub/nav-sub.twig" with {'items': item.children, 'class': 'uk-animation-slide-top-small'} %}

      {% endif %}

    </li>

  {% endfor %}

</ul>
