.post {
  &-list {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3rem;

      @include breakpoint-down("md") {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
      }

      @include breakpoint-down("xs") {
        grid-template-columns: 1fr;
        column-gap: 2rem;
      }
    }
  }

  &__item {
    overflow: hidden;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    &-thumb {
      width: 100%;
      height: 24rem;
      overflow: hidden;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      @include breakpoint-down("lg") {
        height: 20rem;
      }

      @include breakpoint-down("md") {
        height: 24rem;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-content {
      padding: .5rem 2.5rem 2.5rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    &-title {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0 0 1.2rem;
    }

    .btn__link {
      color: $main-color;
      text-decoration: underline;
    }
  }
}