.form {

  &__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    @include breakpoint-down(xs) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &__sect {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    &.full {
      width: 100%;
    }

    input[type=text], input[type=email], input[type=tel], textarea {
      padding: 1.5rem 3rem;
      color: rgba(67, 66, 66, 0.4);
      width: 100%;
      background: $gray-color;
      border-radius: 4rem;

      &::placeholder {
        color: #5C6077;
      }

      &:focus {
        border: .1rem $second-color solid;
        outline: none;
        background: #fff;
      }
    }

    label {
      margin-left: 1rem;
      position: relative;
      top: 0.6em;
      z-index: 2;
      color: #fff;
      width: 100%;

      @include breakpoint-down(lg) {
        margin-left: 0;
        position: static;
      }
    }

    textarea {
      height: 16rem;
    }
  }

  button[type="submit"] {
    @extend .btn;
    @extend .btn-main;
    margin-top: 1.6rem;
    width: 100%;
    display: flex;
  }
}

span.wpcf7-list-item {
  display: inline-block;
  margin: 0;
}

.wpcf7 .wpcf7-list-item {
  display: flex;
  margin-bottom: 10px;
}

.wpcf7-acceptance label {
  position: relative;
  cursor: pointer;
}

.wpcf7-acceptance input[type=checkbox] {
  /*position: relative;*/
  position: absolute;
  visibility: hidden;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
}

.wpcf7-acceptance input[type=checkbox] + span {
  /* border: 3px solid red; */
}

.wpcf7-acceptance input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  top: 1.4rem;
  left: 0;
  border: 1px solid #C4C4C4;
}

.wpcf7-acceptance input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../static/images/svg/check.svg") center no-repeat;
  background-size: 1.8rem;
  height: 2rem;
  width: 2rem;
  top: 1.4rem;
  left: 0;
  visibility: hidden;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}

.wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: $gray-color;
}

.wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.wpcf7-list-item-label {
  margin-left: 2.4rem;
  display: inline-block;
  color: $black;
  padding-top: .5rem;
  font-size: 1.8rem;

  a {
    color: $main-color;
    text-decoration: underline;
  }
}