html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font-family;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  color: $black;
  background-color: $white;
}

h1, .h1 {
  font-size: 7rem;
  font-weight: $font-700;
  line-height: 8rem;
  color: $black;
  font-family: $primary-font-family;

  @include breakpoint-down("sm") {
    font-size: 4.8rem;
    line-height: 4.5rem;
  }
}

h2, .h2 {
  font-size: 4.8rem;
  font-weight: $font-700;
  line-height: 5.6rem;
  color: $black;
  font-family: $primary-font-family;
}

h3, .h3 {
  font-size: 2.8rem;
  font-weight: $font-700;
  line-height: 3.4rem;
  color: $black;
  font-family: $primary-font-family;
}

h4, .h4 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: $font-700;
  color: $black;
  font-family: $primary-font-family;
}

h5, .h5 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: $font-700;
  color: $black;
  font-family: $primary-font-family;
}

h6, .h6 {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: $font-700;
  color: $black;
  font-family: $primary-font-family;
}

p, .p {
  font-size: 2.1rem;
  font-weight: $font-400;
  line-height: 1.4;
  color: $black;
  font-family: $primary-font-family;

  a {
    color: $main-color;
    text-decoration: none;
    font-weight: $font-700;
  }
}

b, strong {
  font-weight: $font-700;
}


.text-big {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

.text-small {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: normal;
  color: $black;
}

.caption {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.166667;
  color: $black;
}

.link {
  font-size: 1.6rem;
  font-weight: $font-700;
  line-height: 2.4rem;
  text-decoration-line: underline;
  color: $second-color;
}

.title-center {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row;
  text-align: center;
  margin-bottom: 4rem;
  font-style: italic;

  &:after {
    content: '.';
    font-size: 5.2rem;
    display: contents;
    color: $second-color;
    margin-left: 0.5rem;
  }
}

.title-left {
  @extend .title-center;
  text-align: left;
  justify-content: flex-start;
}


ul.custom-ul {
  margin: 2rem 0;

  li {
    display: grid;
    column-gap: .8rem;
    grid-template-columns: 1.4rem 1fr;
    align-self: center;

    &:before {
      background-image: url("../static/images/svg/arrow-forward.svg");
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      display: inline-grid;
      background-size: 1.1rem;
      background-repeat: no-repeat;
      background-position: center;
      align-self: center;
      justify-self: center;
    }
  }
}
