.text-list {
  padding: 7rem 0 5rem;
  background: $gray-color;

  &__wrapper {
    padding: 0 4rem;

    @include breakpoint-down(sm) {
      padding: 0 1.2rem;
    }
  }

  &__title {
    * {
      @extend .title-center;
    }
  }

  &__content {
    text-align: center;
    margin: 2rem 0 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(34rem, 1fr) );
    column-gap: 3rem;

    @include breakpoint-down(xl) {
      row-gap: 2rem;
    }

    @include breakpoint-down(xs) {
      column-gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3rem 1rem;

    * {
      text-align: center;
    }

    &--icon {
      border-radius: 50%;
      background: $main-color;
      width: 20rem;
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--title {
      @extend .h3;
      @extend .mb3;
      @extend .mt5;
      color: $main-color;
    }

    &--text {
      @extend .mb2;
    }

    &--link {
      margin-top: auto;
    }
  }
}

body.plandeki-samochodowe {
  .text-list {
    &__wrapper {
      max-width: 160rem;
      margin: 19rem auto 0;
    }

    &__item {
      &--title {
        min-height: 7rem;
      }

      &--icon {
        margin-top: -17rem;

        @include breakpoint-down(xs) {
          margin-top: 0;
        }
      }
    }
  }
}