<section class="text-list">
    <div class="o-container">
        <div class="o-row">
            <div class="text-list__title">
                {{ section.title }}
            </div>
            <div class="text-list__content">
                {{ section.text }}
            </div>
        </div>
    </div>
    <aside class="text-list__wrapper">
        <div class="text-list__list">
            {% for item in section.list %}
                <div class="text-list__item">
                    <div class="text-list__item--icon">
                        <img src="{{ item.icona.url }}" alt="">
                    </div>
                    {% if item.list_title %}
                        <div class="text-list__item--title">
                            {{ item.list_title }}
                        </div>
                    {% endif %}
                    {% if item.list_text %}
                        <div class="text-list__item--text">
                            {{ item.list_text }}
                        </div>
                    {% endif %}
                    {% if item.link %}
                        <div class="text-list__item--link">
                            <a href="{{ item.link.url }}" rel="nofollow">
                                <img src="{{ theme.link }}/static/images/svg/magenta-right.svg" alt="">
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </aside>
</section>


