.row-text {
  padding: 7rem 0 11rem;
  position: relative;

  &:after {
    @media (min-width: 1360px) {
      content: "";
      position: absolute;
      background: $circle-light;
      width: 30rem;
      height: 30rem;
      bottom: 0;
      right: -12rem;
      border-radius: 50%;
    }
  }

  .container {
    max-width: 98%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 76rem 1fr;
    column-gap: 4.5rem;
    align-content: center;

    @media (min-width:1200px) and (max-width: 1500px) {
      grid-template-columns: 55rem 1fr;
    }

    @include breakpoint-down(lg) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 2rem;
    }
  }

  &__content-text {
    max-width: 74rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-down(lg) {
      margin: 0 auto;
    }
  }

  &__img {
    display: flex;
    justify-content: flex-end;

    @include breakpoint-down(lg) {
      justify-content: center;
    }

    img {
      width: 100%;
      max-width: inherit;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    * {
      @extend .title-left;
    }
  }

  &__desc {
    p {
      margin-bottom: 2.8rem;

      &:first-child {
        font-size: 2.8rem;
        margin-bottom: 2.4rem;
      }
    }
  }

  &.right {
    .row-text {
      &__wrapper {
        grid-template-columns: 1fr 76rem;

        @include breakpoint-down(lg) {
          grid-template-columns: 1fr;
          column-gap: 0;
          row-gap: 2rem;
        }
      }

      &__content {
        display: flex;
        justify-content: flex-end;

        @include breakpoint-down(lg) {
          justify-content: center;
        }
      }

      &__img {
        order: 2;
        justify-content: flex-start;

        @include breakpoint-down(lg) {
          justify-content: center;
          order: 0;
        }
      }
    }
  }
}

body.plandeki-ogrodowe {
  .row-text {
    background: linear-gradient(0deg, #F7F5F6, #F7F5F6), #E5E5E5;
  }
}

body.naprawa-konstrukcji {
  .row-text {
    padding: 4rem 0 6.5rem;

    &__desc {
      background: #F7F5F6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 5rem;

      @include breakpoint-down(xs) {
        padding: 2rem 1.4rem;
      }
    }
  }
}

body.plandeki-ogrodowe {
  .row-text {
    &:after {
      display: none;
    }
  }
}