<section class="row-text {{ section.side }}"
         {% if section.bg_color %}style="background: {{ section.bg_color }}"{% endif %}>
    <div class="container">
        <div class="row-text__wrapper">
            <div class="row-text__img">
                <img src="{{ section.image.url }}" alt="{{ section.image.alt }}">
            </div>

            <div class="row-text__content">
                <div class="row-text__content-text">
                    <div class="row-text__title">
                        {{ section.title }}
                    </div>
                    <div class="row-text__desc">
                        {{ section.text }}
                    </div>
                    {% if section.link %}
                        <div class="row-text__btn">
                            <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                                {{ section.link.title }}
                            </a>
                        </div>
                    {% endif %}
                    {% if section.image_special %}
                        <div class="row-text__btn">
                            <img src="{{ section.image_special.url }}" alt="{{ section.image_special.title }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>