.nav-footer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  &__item {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__link {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #C4C4C4;

    &:hover {
      color: $second-color;
    }
  }
}
