<ul class="nav-footer">
    {% set items = menu.items %}
    {% for item in items %}
        <li class="nav-footer__item">
            <a class="nav-footer__link" href="{{ item.link }}" {% if item.xfn %}rel="{{ item.xfn }}"{% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
