.reference {
  padding: 11rem 0 6rem;
  position: relative;
  overflow: hidden;

  &:after {
    @extend .circle;
    background: $circle-light;
    width: 43rem;
    height: 43rem;
    bottom: -21.5rem;
  }

  &__title {
    * {
      @extend .title-center;
    }
  }

  .btn {
    margin-top: 7rem;
  }

  .element-center {
    width: 100%;
  }
}