<section class="reference">
    <div class="container">
        <div class="reference__title">
            {{ section.title }}
        </div>
        {% if section.list %}
            <div class="element-center">
                {{ section.list }}
            </div>
        {% endif %}
        {% if section.link %}
            <div class="element-center">
                <a href="{{ section.link.url }}" class="btn btn-main" {% if section.nofollow %}rel="nofollow"{% endif %}>
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>