.numbers {
  padding: 9rem 0;
  background-size: cover;

  * {
    color: $white;
  }

  &__title {
    * {
      @extend .title-center;
      color: $white;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem;
    column-gap: 3rem;

    @include breakpoint-down(xs) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 0;
      margin-top: 11rem;
    }
  }

  &__col {
    position: relative;

    &:first-child {
      @include breakpoint-down(xs) {
        margin-bottom: 6rem;
      }
    }

    .number {
      position: absolute;
      color: rgba(255, 255, 255, 0.2);
      font-size: 28.8rem;
      font-weight: $font-700;
      left: -27%;

      @include breakpoint-down(sm) {
        left: -10%;
      }
    }

    p {
      font-size: 2.8rem;
    }
  }

  &__text {
    margin-top: 3rem;

    * {
      text-align: center;
    }
  }
}