<section class="numbers" style="background-image: url('{{ section.bg.url }}')">
    <div class="container">
        <div class="numbers__title">
            {{ section.title }}
        </div>
        <div class="numbers__list">
            {% set count = 1 %}
            {% for item in section.list %}
                <div class="numbers__col">
                    <span class="number">{{ count }}.</span>
                    {{ item.desc }}
                </div>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
        <div class="numbers__text">
            {{ section.text }}
        </div>
    </div>
</section>