html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  position: relative;
  width: 100%;

  &.admin-bar {
    margin-top: 32px;
  }
}

* {
  box-sizing: border-box;
}

a[href] {
  cursor: pointer;
}

.o-container {
  @include breakpoint-down("sm") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container {
  @extend .o-container;
}

#main {
  margin-top: 15.4rem;
  overflow-x: hidden;

  @include breakpoint-down(md) {
    margin-top: 11.4rem;
  }
}

.element-center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

:focus-visible {
  outline: 0;
}

.custom-list {
  li {
    display: grid;
    grid-template-columns: 2.9rem 1fr;

    &:before {
      content: "";
      background: url("../static/images/svg/marker.svg");
      width: 2rem;
      height: 2rem;
      background-size: cover;
      margin-top: 1.1rem
    }
  }
}

section {
  position: relative;
}

.circle {
  @include breakpoint-up(lg) {
    content: "";
    position: absolute;
    width: 28rem;
    height: 28rem;
    background: $main-color;
    bottom: -14rem;
    right: -12rem;
    border-radius: 50%;
  }
}